<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col (click)="back()" [size]=2 style="display: flex; flex-direction: row; 
      align-items: center; 
    justify-content: center;">
    <ion-icon style="color: white; font-size: 25px;" name="arrow-back-outline"></ion-icon>
  </ion-col>
  <ion-col [size]=10 style="display: flex; flex-direction: row; align-items: center; 
  justify-content: flex-start;" >
    <ion-text style="font-family: SF-UI-Text-Bold; font-size: 14px; 
    color: white;">Cancel Appointment</ion-text>
  </ion-col>
</ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
<div>
  <ion-row style="justify-content: center;padding-top: 10%;">
    <div style="border: 1px solid gray;border-radius: 5px;padding: 3%;
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;">
      <ion-text style="font-family: SF-UI-Text-Bold; font-size: 14px;
      text-transform: capitalize;">Dr {{selectedAppointment.doctorName}}</ion-text>
    </div>
  </ion-row>

  <ion-row style="justify-content: center;padding-top: 10%;">
    <div style="border: 1px solid gray;border-radius: 5px;padding: 3%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;">
      <ion-text style="font-family: SF-UI-Text-Bold; font-size: 14px;
      text-transform: capitalize;">{{selectedAppointment.clinicName}}</ion-text>
      <ion-text style="font-family: SF-UI-Text-Bold; font-size: 14px;
      text-transform: capitalize;">{{selectedAppointment.clinicAddress}}</ion-text>
    </div>
  </ion-row>

  <ion-row style="justify-content: center;padding-top: 10%;">
    <div style="border: 1px solid gray;border-radius: 5px;padding: 3%;
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;">
      <ion-text style="font-family: SF-UI-Text-Bold; font-size: 14px;
      text-transform: capitalize;">{{selectedAppointment.patientFirstName}}
      {{middleName}}. {{selectedAppointment.patientLastName}}</ion-text>
    </div>
  </ion-row>

  <ion-row style="justify-content: center;padding-top: 10%;">
    <div style="border: 1px solid gray;border-radius: 5px;padding: 3%;
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;">
      <ion-text style="font-family: SF-UI-Text-Bold; font-size: 14px;
      text-transform: capitalize;">{{selectedAppointment.patientMobile}}</ion-text>
    </div>
  </ion-row>
</div>

<ion-row style="justify-content: center; padding-top: 5%;" (click)="cancel()">
  <div style="border: 1px solid #1b5a90; width: 90%; display: flex; flex-direction: row; 
  justify-content: space-evenly; align-items: center; padding: 3%; background: red;
   border-radius: 5px;">
  <ion-text style="font-size: 14px; font-family: SF-UI-Text-Bold;
   color: white;" >Cancel Appointment</ion-text>
</div>
</ion-row>

</ion-content>
